*{
    box-sizing: border-box;
    margin: 0;
    cursor: none;
}
.cursor{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(2){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(3){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(4){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(5){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(6){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(7){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(8){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(9){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(10){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
.cursor:nth-child(11){
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}
